@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Syne Mono", monospace !important;
  background-color: #bbe0ef;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}
